@font-face {
    font-family: BadScript;
    src: url(fonts/BadScript-Regular.ttf);
}
@font-face {
    font-family: forum;
    src: url(fonts/Forum-Regular.ttf);
}
@font-face {
    font-family: oswald;
    src: url(fonts/Oswald-VariableFont_wght.ttf);
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body,html
{
  height: 100%;
}
html
{
  font-size: 62.5%;
}
#banner
{
  background-image: url('images/candle_bg.jpg');
  
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  margin-top:-6.5rem;
  padding-top:6.5rem;
}

/*----------------------------------------------------NAVBAR-------------------------------------------*/
.sidebar{
  position: fixed;
  width: 24.0rem;
  left: -24.0rem;
  height: 100%;
  background: #362F56;
  transition: all .5s ease;
  margin-top: -6.5rem;
  z-index: 2;
}
.sidebar header{
  font-size: 2.8rem;
  color: white;
  line-height: 7.0rem;
  text-align: center;
  background: #362F56;
  user-select: none;
  font-family: oswald;
}
.sidebar a{
    justify-content: left;
  display: block;
  height: 6.5rem;
  width: 100%;
  color: white;
  line-height: 7.0rem;
  padding-left: 3.0rem;
  box-sizing: border-box;
  font-family: oswald;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: .5rem solid #F4D8D8;
  color: #F4D8D8;
}
.sidebar a i{
  font-size: 2.3rem;
  margin-right: 1.6rem;
}
.sidebar a span{
  letter-spacing: .1rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size:1.5rem;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: fixed;
  cursor: pointer;
  color: white;
  margin: -5.5rem 3.0rem;
  font-size: 2.9rem;
  height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  transition: all .5s ease;
  z-index: 2;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 24.5rem;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 24.5rem;
  opacity: 1;
  visibility: visible;
}
#hnav
{
  /* border:2rem solid black; */
  height:6.5rem;
  display: flex;
  justify-content: right;
  line-height: 8.2rem;
  mix-blend-mode: multiply;
  background: #d9d9d9;
}
#icons
{
  height:5.7rem;
  display: block;
  /* float:right; */
  /* line-height: 57rem; */
  margin-right: 1.0rem;
  /* border: 2rem solid black; */
  filter: drop-shadow(0rem 2rem 2rem rgba(0, 0, 0, 0.25));
  height:38.0rem;
}
#icons a
{
  text-decoration: none;
  border: none;
}

#hnav img
{
  line-height: 5.7rem;
  padding-right: 2.0rem;
}
#hnav img:hover
{
  transform: scale(1.2);
}
#horizontal_line
{
  width:15.0rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
  margin: auto;
}

/*---------------------------------------------------------------DASHBOARD-----------------------------------------------------*/

#dashboard
{
  padding-top:-5.7rem;
  height:59.0rem;
}
#maintext
{
  color: #362F56;
  top: 10.0rem;
  font-family: forum;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  text-shadow: 0rem .4rem .4rem rgba(0, 0, 0, 0.25);
  animation:fade 1s ease-in-out forwards;
}
@keyframes fade
{
  0%{opacity: 0;}
}
.text
{
  color: #362F56;
  font-size: 10.0rem;
}
.text3{
    font-size: 2.0rem;
    animation:fade 1s ease-in-out forwards;
}
.textx{
    padding-top: 8.0rem;
    font-size: 10.0rem;
}
#text2{

    font-family: oswald;
    font-style: normal;
    text-align: center;
color: #362F56;
}
/*------------------------------------------------------------GALLERY_SECTION------------------------------------------------*/

#gallery_section
{ margin-top: 10.0rem;
  height:250.0rem;
  background-image: linear-gradient(to right bottom, #f4d8d8, #e3cbd5, #cec1d1, #b5b7ca, #9eaebd);
  z-index: 1;
}
#oneimage
{
   
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 10.0rem;
  padding-bottom: 2.0rem;
}
#oneimage img:hover
{
  transform: scale(1.1);
  transition: 0.5s;
}

#oneimage img
{
    
  height: 43.0rem;
  filter: drop-shadow(0rem .4rem .4rem rgba(0, 0, 0, 0.25))
}

#image_container
{ object-fit: contain;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.0rem;
  z-index: 1;
}
.column
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.column img
{object-fit: contain;
  padding-bottom: 2.0rem;
  filter: drop-shadow(0rem 4rem 4rem rgba(0, 0, 0, 0.25));
  height:38.0rem;
  z-index: 1;
}

.column img:hover
{
  transform: scale(1.1);
  transition: 0.5s;
  z-index: 1;
}
/*------------FOOTER---------------*/

#footer{
    
position: relative;
margin-top: 6.0rem;
height: 30.0rem;
left: 0px;
padding-top: 6.0rem;

background: #362F56;
}

@media (max-width:1134px)
{
  html
  {
    font-size: 60%;
  }
}
@media (max-width:1056px)
{
  html
  {
    font-size: 50%;
  }
}
@media (max-width:890px)
{
  html
  {
    font-size: 45%;
  }
  #oneimage img
  {
    width:30rem;
  }
}
@media (max-width:773px)
{
  html
  {
    font-size: 35%;
  }
}
@media (max-width:610px)
{
  html
  {
    font-size: 25%;
  }
  #oneimage img
  {
    width:28rem;
  }
  #icons img
  {
    height:6rem;
  }
  
}
@media (max-width:467px)
{
  html
  {
    font-size: 15%;
  }
}